main{
    margin-top: 5em;
    height: fit-content ;
}

.panel{    
    width: 50%;
    height: 50%;
}
.panel-title{
    text-align: center;
}

form{
    margin-bottom: 0 !important;
}
.btn_gestion{
    align-self: center;
    width: 40%;
    text-align: center;
    font-size: 1.5em;
}
.lienzo{
    width: 100%;
    height: 100%;
}